.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Header CSS*/

.header .logoutButton {
    margin: 5px 56px 0 0;
    float: right;
}

/* Landing CSS */

.jumbotron {
    margin-top: 10px;
}


.jumbotron .register {
    margin-left: 15px;
}

/* Login & Register CSS*/
.formContainer {
    width: 40%;
    margin: 0 auto;
    margin-top: 75px;
}

.formContainer .title {
    margin-bottom: 25px;
}
